/mtiFontTrackingCode.js
/style.css
/Fonts/
/fontlist.xml
*.jpg
*.png
/images/DIST/


#general

.DS_Store
.AppleDouble
.LSOverride

Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/sass/variables-site/_sass-inline-svg.scss
/sass/variables-site/_sass-inline-svg-data.scss
