.welcome-card {
  width: span(10);
  margin-left: span(1 wide);
  margin-bottom: 2em;
  padding: 1.5em span(2 wide);
  margin-top: -120px;
  z-index: 99;
  position: relative;
  background-color: #fff;
  @include breakpoint($for-desktop-up) {
    width: span(10);
    margin-left: span(1 wide);
    padding: 1.5em span(1 wide);
  }
  h3 {
    font-size: 2.2em;
  }
  @include breakpoint($for-big-desktop-up) {
    width: span(8 wide);
    margin-left: span(2 wide);

  }
  @include breakpoint($for-phone-only) {
    margin: 0;
    width: 100%;
    padding: 1em;
    h3 {
      font-size: 1.5em;
    }
  }
}

.project-card {
  position: relative;
  width: span(8);
  margin-left: span(2 wide);
  background: $color__krohnschein_grey_ultralight;
  height: 100%;
  min-height: 400px;
  margin-bottom: 5em;
  box-shadow: 0 0 5px rgba(0,0,0,0);
  transition: box-shadow 500ms ease;
  &:hover {
    box-shadow: 0 25px 165px rgba(0,0,0,.15);
  }

  .no-thumbnail {
    background-color: $color__krohnschein_primary;
  }
  .post-thumbnail {
    width: 50%;
    margin: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    .entry-meta {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #fff;
      font-size: 1.5em;
      font-weight: 700;
      line-height: 1;
      width: 100%;
      height: 100%;
      background-color: rgba($color__krohnschein_secondary, .75);
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity .5s ease;
      padding: 10%;
      p {
        margin: 0;
      }
      &:hover {
        opacity: 1;
      }
      a {
        color: #fff;
        &:visited {
          color: #fff;
        }
        &:hover,
        &:focus,
        &:active {
          border-bottom: 2px solid currentcolor;
        }
        &:focus {
          outline: thin dotted;
        }
        &:hover,
        &:active {
          outline: 0;
        }

      }
      @include breakpoint($for-phone-only) {
        position: relative;
      }
      @include breakpoint($for-phone-only) {
        display: none;
      }
    }
    //entry-meta
    @include breakpoint($for-phone-only) {
      width: 100%;
      min-height: 100%;
      position: absolute;
    }
  }
  //post-thumbnail
  .project-card__content {
    align-self: center;
    width: 50%;
    margin-left: 50%;
    padding: 5%;

    .entry-title {
      margin: 0 0 0.85em;
      font-size: 2.1em;
      line-height: 1;

      a {
        @include breakpoint($for-phone-only) {
          color: #fff;
        }
        &:hover,
        &:focus,
        &:active {
          color: $color__krohnschein_secondary;
        }
      }

    }
    .entry-content {
      margin: 0;
      p {
        margin: 0;
        line-height: 1.4;
        color: $color__krohnschein_grey_dark;
        @include breakpoint($for-phone-only) {
          color: #fff;

        }
      }
    }
    .entry-footer {
      $footer-color: $color__krohnschein_secondary;
      font-size: 0.85em;
      color: $footer-color;
      a {
        color: $footer-color;
        background-color: none;
        &:visited {
          color: $footer-color;
        }
        &:hover,
        &:focus,
        &:active {
          color: $color__krohnschein_blue;
        }
        &:focus {
          outline: thin dotted;
        }
        &:hover,
        &:active {
          outline: 0;
        }
      }

    }
    @include breakpoint($for-phone-only) {
      width: 100%;
      position: absolute;
      margin: 0;
      bottom: 0;
      background: rgba($color__krohnschein_blue, .5);

    }

  }
  //project-card__content

  //project card media queries

  @include breakpoint($for-phone-only) {
    width: 100%;
    position: relative;
    margin: 0;
    display: block;
    background-color: #fff;

  }
  @include breakpoint($for-big-desktop-up) {
    width: span(6);
    margin-left: span(3 wide);
  }
}

//project card